/* .lobby {
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.carousel-root {
    max-width: 100%;
    text-align: center;
}

.carousel-root img {
    max-width: 100%;
    height: auto;
    padding: 5px;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white text-gray-700
    w-72 min-h-[10rem]
    shadow-lg rounded-md overflow-hidden;
  }
  .badge{
    @apply
    px-3 py-1 rounded-full text-xs bg-gray-100 text-gray-700
  }

  .product-title{
    @apply
    font-semibold text-2xl
    overflow-ellipsis overflow-hidden whitespace-nowrap
  }

  .discount-percent {
    @apply
    bg-green-400
    px-1.5 py-0.5 rounded-md
    text-xs text-white
  }

  .button-primary{
    @apply
    bg-orange-500 hover:bg-orange-500
    px-6 py-2 rounded-md
    text-white font-medium
    tracking-wider transition
  }
  .button-icon{
    @apply
    flex-grow
    flex justify-center items-center
    bg-gray-300/80 hover:bg-gray-300/90
    transition rounded-md
  }
}
